*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
}

.stats {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.is-hidden {
  display: none;
}
